# Your timezone, https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=America/Los_Angeles
# UNIX PUID and PGID, find with: id $USER
PUID=1000
PGID=1000
# The directory where configuration will be stored.
CONFIG=/config
# Frigate
STORAGE_PATH=/hdd/frigate
AMCREST_USERNAME=<amcrest_username>
AMCREST_PASSWORD=<amcrest_password>
# Watchtower
WATCHTOWER_NOTIFICATION_SLACK_HOOK_URL=https://hooks.slack.com/services/xxx/yyyyyyyyyyyyyyy
